@import "tailwindcss";

/* -------------- Horizontal Scrollbar ---------------  */
.custom-scrollbar::-webkit-scrollbar {
    height: 4px;
    width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-blue-100;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-blue-400 rounded-full;
}

/* -------------- Horizontal Scrollbar ---------------  */

/* -------------- Chat-Room Bg ---------------  */
.chat-room {
    background-color: rgba(0, 93, 164, 0.8);
    /* Adjust opacity via RGBA */
    background-image: url('../public/images/chat-room-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 1000px;
    background-blend-mode: multiply;
    opacity: 0.3;
    /* Blends color with image */
}